
/* responsive for mobile device */
@media screen and (max-width:576px){

    /* navber section */

.nav-link ul {
    display: none;   
}
.nav-container button {
 display: none;
}
nav>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container .ham-menu{
    display:flex;
}

/* banner section */

.banner-container {
    background-image: url(../assets/hero-bg.png);
    width:100%;
    height: 466px;
    position: relative;
    background-repeat: no-repeat;
   background-size: 100% 100%;
}

.banner-container .img1 {
    position: absolute;
    top: 23%;
    left: 39.5%;
    width: 110px;
    height: 110px;
}
.banner-container .img2 {
    position: absolute;
    top: 29%;
    left: 47%;
    width: 32px;
    height: 50px;
}
.banner-container .new {
    position: absolute;
    top: 20%;
    left: 54%;
    color: #1A0B2E;
    background-color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 11px;
    border-radius: 17px;
}
.banner-container .text {
    position: absolute;
    top: 54%;
    left: 4%;
}
.banner-container .text p {    
    text-align: center;
    margin-right: 97px;
}
/* about section */
.podcast-container {
     /* margin-top:30px;  */
    padding:10px 20px;
}
.podcast-container .pd-title {
    text-align: left;
    padding:5px;
}
.pd-title p {  
    line-height: 1.3;
    font-size: 1.4rem; 
    width: 99%;
}
.pd-card-parent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ffffff0d;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left:80px;
}
/* techWave */
.tech-container {
 
    padding: 10px;
 
}
.tech-container h1 {
     margin-top: 60px;
    margin-bottom: 60px;
    font-size: 2.7rem;
   
}
.tech-parent1 {
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 30px;
       margin-left: 10px;
     margin-right: 24px;
}
.tech-parent2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
   margin-left: 10px;
     margin-right: 24px;
     margin-bottom:30px;
}
.card2, .card3 {
    grid-column: span 1;  
}
.card4 {
    grid-column: span 1;
}

  /*  feature section  */

.feature-container {
    padding: 40px 0px;
}
.feature-container>h1 {
   
    margin-bottom: 40px;
}
.ft-episod-pr {
    flex-direction: column;
}
.ft-episod-pr {
    margin-bottom: 80px;
}
.host h1 {
    margin-bottom: 64px;
}
.h-parent {
    flex-direction: column; 
}
.img-info {
    text-align: center;
    width: 88%;
}
.bg-border-p { 
    justify-content: center;
}
.h-parent {
    padding: 60px;
    margin-right: 30px;
    margin-left: 30px;
}

/* footer section  */

.sponsor-p {
    display: grid;
    grid-template-columns: repeat(2,148px);
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 12px;
     
}
.fot-container {
    padding: 30px 0px;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
.fot-container h1 {
    margin-top: 50px;
}

.fot-container .copy {
    margin-top: 50px;
}
}

/* responsive for tablet device */
@media screen and (min-width:577px) and (max-width:992px){

    /* banner section */
.banner-container {
    background-image: url(../assets/hero-bg.png);
    width:100%;
    height: 466px;
    position: relative;
    background-repeat: no-repeat;
   background-size: 100% 100%;
}
.banner-container .img1 {
    position: absolute;
    top: 18%;
    left: 38%;
    width: 220px;
    height: 220px;
}

.banner-container .img2 {
    position: absolute;
    top: 31%;
    left: 46%;
    width: 60px;
    height: 100px;
}
.banner-container .new {
    position: absolute;
    top: 20%;
    left: 54%;
    color: #1A0B2E;
    background-color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 11px;
    border-radius: 17px;
}
.banner-container .text {
    position: absolute;
    top: 68%;
    left: 18%;
}
.banner-container .text p {    
    text-align: center;
    margin-right: 97px;
}
/* about section */
.podcast-container {
    padding:10px 2px ;
}
.podcast-container .pd-title {
    text-align: center;
    padding-top:55px;
}
.pd-title p {  
    line-height: 1.3;
    font-size: 1.4rem; 
    width: 100%;
}
.pd-card-parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ffffff0d;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left:80px;
}

.tech-container {
 
    padding: 10px;
 
}
.tech-container h1 {
     margin-top: 60px;
    margin-bottom: 60px;
    font-size: 2.7rem;
   
}
.tech-parent1 {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 30px;
       margin-left: 10px;
     margin-right: 24px;
}
.tech-parent2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   margin-left: 10px;
     margin-right: 24px;
     margin-bottom:30px;
}
.card2, .card3 {
    grid-column: span 1;  
}
.card4 {
    grid-column: span 1;
}

/* feature section  */

.feature-container {
    padding: 40px 0px;
}
.feature-container>h1 {
   
    margin-bottom: 40px;
}
.ft-episod-pr {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:40px
    /* flex-direction: column; */
}
.f-card{
    width:100%;
    margin-left:20px;
}
.ft-card-span{
    grid-column: span 2 ;
}
.ft-card-span1{
     grid-column: span 2 ;
}
.ft-card-span2{
     grid-column: 2 / span 3 ;
     
}
.ft-episod-pr {
    margin-bottom: 80px;
}
.host h1 {
    margin-bottom: 64px;
}
.h-parent {

    flex-direction: column; 
}
.img-info {
    text-align: center;
    width: 88%;
}
.bg-border-p { 
    justify-content: center;
}
.h-parent {
    padding: 60px;
    margin-right: 30px;
    margin-left: 30px;
}

/* footer section  */

.sponsor-p {
    display: grid;
    grid-template-columns: repeat(2,148px);
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 12px;
     
}
.fot-container {
    padding: 30px 0px;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
.fot-container h1 {
    margin-top: 50px;
}

.fot-container .copy {
    margin-top: 50px;
}




}