
/* Add font inter */
.inter-font-all {
  font-family: "Inter", sans-serif;
}
/* global CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* share CSS */




/* main css  */

/* nav ber design  */
nav>div{
    max-width:1600px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid #ffffff38;
    background-color: #1d112d;;
    padding:10px;
    min-height: 92px;
}
.nav-link ul{
    display:flex;
    gap:32px;
    list-style: none;
    /* border:2px solid red; */
}
.nav-link ul a{
    text-decoration: none;
    color:#FFFFFF;
}
 .nav-container span{
    color:hwb(318 0% 3% / 0.795);
    /* color:red; */
}
.nav-container h1{
    color:#FFFFFF;
}
.nav-container button{
    color:#FFFFFF;
    font-size:16px;
    border:none;
    font-weight: 400;
    padding:12px 16px;
    border-radius: 20px ;
    background: linear-gradient(270deg, #F7E93F, #FB09B4, #9100F8);
}

/* banner section design */
.banner-container{
background-image: url(../assets/hero-bg.png);
max-width:1600px;
margin:0 auto;
/* border:3px solid red; */
position:relative;
height:760px;
}
.banner-container .img1{
    position:absolute;
    top:14%;
    left:39.5%;
    /* transform: translate(-50% -50%); */
    /* border:2px solid green; */
}
.banner-container .img2{
     position:absolute;
    top:26%;
    left:47%;
   /* border:2px solid green; */
}
.banner-container .new{
   position:absolute;
    top:19%;
    left:58%;
    color:#1A0B2E;
    background-color:#00FF88;
    font-size:1.2rem;
    font-weight: 500;
    padding:8px 15px;
    border-radius:17px;
}
.banner-container .text{
      min-width: 550px;
      /* border:2px solid green; */
      position:absolute;
      top:65%;
      left:33%;
}
.banner-container .text h1{
    color:#FFFFFF;
    font-size:3.75rem;
    font-weight: 700;
    text-align:center;
    margin-bottom:8px;
}
.banner-container .text p{
 color:#FFFFFF;
 font-size:1rem;
 margin-left:10px;
 margin-bottom:24px;
}
.banner-container .text>div .btn1{
 padding:13px 16px;
  color:#FFFFFF;
    font-size:16px;
    font-weight: 400;
    border-radius: 20px ;
    background: linear-gradient(270deg, #F7E93F, #FB09B4, #9100F8);
     border:none;
     display:flex;
}
.btn1 img{
    width:15px;
    height:15px;
    margin-right:2px;
   
}
.banner-container .button1{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.banner-container .btn1{
 padding:13px 16px;
  color:#FFFFFF;
    font-size:16px;
    font-weight: 400;
    border-radius: 20px ;
    background: linear-gradient(270deg, #F7E93F, #FB09B4, #9100F8);
     border:none;
     display:flex;
     flex-direction:row;
     justify-content: center;
     align-items: center;
     gap:5px
    
}
.banner-container .btn2{
 padding:13px 20px;
  color:#00FF88;
    font-size:16px;
    font-weight: 400;
    border-radius: 20px ;
    background: transparent;
     border:1px solid #00FF88;
     display:flex;
     flex-direction:row;
     justify-content: center;
     align-items: center;
     gap:5px
    
}

/* podcast section  */
.podcast-container{
    max-width: 1600px;
    margin:0 auto;
    background-color:#1A0B2E;
    padding:50px 200px 120px 200px;
}
.podcast-container .pd-title{
    text-align:center;
    max-width:1200px;
    margin:0 auto;
    /* border:2px solid yellow; */
}
.pd-title h1{
color:#FFFFFF;
font-size:3rem;
font-weight: 900;
margin-bottom:16px;
}
.pd-title p{
    color:#FFFFFF;
    line-height: 2;
    font-size:1rem;
    margin-bottom:40px;
}
.pd-card-parent{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-top:1px solid #ffffff0d;
    padding-top:40px;

}
.pd-card h1{
    color:#00FF88;
    font-size:3rem;
}
.pd-card p{
    color:#FFFFFF;
    font-size:1rem;
    line-height: 2;
}