
/* Add font inter */
.inter-font-all {
  font-family: "Inter", sans-serif;
}
/* global CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* share CSS */




/* main css  */

/* nav ber design  */
nav>div{
    max-width:1600px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid green;
    background-color: #2a1b3f;;
    padding:10px;
}
.nav-link ul{
    display:flex;
    gap:32px;
    list-style: none;
    /* border:2px solid red; */
}
.nav-link ul a{
    text-decoration: none;
    color:#FFFFFF;
}
 .nav-container span{
    color:hwb(318 0% 3% / 0.795);
    /* color:red; */
}
.nav-container h1{
    color:#FFFFFF;
}
.nav-container button{
    color:#FFFFFF;
    font-size:16px;
    font-weight: 400;
    padding:12px 16px;
    border-radius: 20px ;
    background: linear-gradient(270deg, #F7E93F, #FB09B4, #9100F8);
}

/* banner section design */
.banner-container{
background-image: url(../assets/hero-bg.png);
max-width:1600px;
margin:0 auto;
border:3px solid red;
position:relative;
height:760px;
}
.banner-container .img1{
    position:absolute;
    top:14%;
    left:39.5%;
    /* transform: translate(-50% -50%); */
}
.banner-container .img2{
     position:absolute;
    top:26%;
    left:47%;
 
}
.banner-container .new{
   position:absolute;
    top:26%;
    left:58%;
    border:2px solid green;  
}